{{ define "title" }}Environmental Quiz{{ end }}
{{ define "content" }}


<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage .CurrentQuestionIndex .TotalQuestions}}" 
      aria-valuemin="0" aria-valuemax="100" style="width: {{ percentage .CurrentQuestionIndex .TotalQuestions}}%;">

    <span class="sr-only">{{ percentage .CurrentQuestionIndex .TotalQuestions}}% Complete</span>
  </div>
</div>

<h1 class="question">{{ .Question.Question }}</h1>
  <div class="btn-group-lg btn-group" data-toggle="buttons">
    {{range $index, $element := .Question.Answers }}
    <row>
      <div class="col-lg-6">
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option1"> {{ $element }}
        </label>
      </div>
    </row>
    {{ end }}
</div>


{{ end }}

{{ define "scripts"}}
  <script src="/js/websocket.js"></script>
  <script src="/js/quiz.js"></script>
{{ end }}
